<div class="main">
    <div class="form">
        <div class="login form-group col-md-6">
            <label class="Subject">ورود
                <hr class="line">
            </label>

            <div class="centerEmail">
                <div class="email">
                    <label for="lbl inputEmail4">ایمیل :</label>
                    <input type="email" class="input form-control" id="inputEmail4"
                        placeholder="For Example : Ali@gmail.com">

                    <label for="lbl inputPassword4">گذرواژه :</label>
                    <input type="password" class="input form-control" id="inputPassword4"
                        placeholder="Enter yout password">
                    <div class="buttonForm">
                        <button type="button" class="btn btn-primary btn-lg">ورود</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class=" singup">
            <div class="form2 form-group col-md-6">
                <label class="Subject">ثبت نام
                    <hr class="line">
                </label>

                <div class="centerbox">
                    <div class="box">
                        <div class="smallbox">
                            <label for="lbl inputEmail4">نام :</label>
                            <input type="email" class="input form-control" id="inputEmail4" placeholder="مثال : علی">
                        </div>

                        <div class="smallbox">
                            <label for="lbl inputPassword4">گذرواژه :</label>
                            <input type="password" class="english input form-control" id="inputPassword4"
                                placeholder="Enter your password">
                        </div>
                    </div>

                    <div class="box">
                        <div class="smallbox">
                            <label for="lbl inputEmail4">نام خانوادگی :</label>
                            <input type="email" class="input form-control" id="inputEmail4"
                                placeholder="مثال : مظاهری لقب">
                        </div>

                        <div class="smallbox">
                            <label for="lbl inputPassword4">تکرار گذرواژه :</label>
                            <input type="password" class="english input form-control" id="inputPassword4"
                                placeholder="Repeat your password">
                        </div>
                    </div>

                    <div class="box">
                        <div class="smallbox">
                            <label for="large inputEmail4">ایمیل :</label>
                            <input type="email" class="english large input form-control" id="inputEmail4"
                                placeholder="For Example : Ali@gmail.com">
                        </div>

                        <div class="smallbox">
                            <label for="lbl inputPassword4">تلفن همراه :</label>
                            <input type="number" class="english large input form-control" id="inputPassword4"
                                placeholder="0918 ... ....">
                        </div>
                    </div>
                </div>
                <div class="buttonForm">
                    <button type="button" class="btn btn-primary btn-lg">ثبت نام</button>
                </div>
            </div>
        </div>
    </div>
</div>